<!DOCTYPE html>
<html lang="en">
<head>
   <title>{% block title %}My website{% endblock %}</title>
   <style>
    body {
        font-family: Arial, Helvetica, sans-serif; padding:20px; 
    }
    header {
        background-color: #333; color: white; padding: 10px;
    }
    footer {
        background-color: #eef072; color: white; padding: 10px;margin-top: 20px;
    }
   </style>
</head>
<body>
    <header>
        <h2>My Website</h2>
        <nav>
           <a href="/">home</a>
           <a href="/about">about</a>
        </nav>
    </header>
    {% block content %}
    
    
    {% endblock %}
    <footer>
        <p>Copyright 2024</p>
    </footer>

</body>
</html>